
// Bootstrap Variables
$icon-font-path: '../../node_modules/bootstrap-sass/assets/fonts/bootstrap/';

// Import Bootstrap
@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap';


*,
*::before,
*::after {
  box-sizing: border-box;
}

body{
  background-color: rgb(128,	0,	32);
  background-size: cover;
  // width: 100%;
  // height: 100%;
}


//start page
.page {
  h1{
  font-size: 40px;
  font-weight: bold;
  font-family: arial;
  text-align: center;
  color: white;
  }
  .title-image{
    text-align: center;
  }
  .start{
    margin-top: 25px;
    text-align: center;
  }
  .btn{
    background-color: transparent;
    color: white;
    font-weight: bold;
    font-family: arial;
    font-size: 22px;
    width: 200px;
  }
}
.title-top{
  margin-top: 80px;
}

.ron-title{
  width: 250px;
  height: 250px;
  border-radius: 50%;
  border: 10px solid white;
}


//choose character page
.choose-char{
  margin-top: 100px;
  margin-bottom: 40px;
}

.character-image-list{
  text-align: center;
  cursor: pointer;

  img{
    height: 100%;
    width: 100%;
    border-radius: 50%;
    text-align: center;
  }
  .hover{
    display: inline-block;
    position: relative;
    height: 200px;
    width: 200px;
    margin-right: 5px;
  }
  .hover:hover{
    border: 1px solid white;
    border-radius: 6px;
  }
  .name{
    height: auto;
    width: auto;
    position: absolute;
    bottom: -40px;
    left: 0px;
    border: 0px;
    color: white;
    font-size: 30px;
  }
  .champ{
    left: 10px;
  }
  .brick, .brian{
    left: 5px;
  }
}
.fight{
  margin-top: 70px;
  text-align: center;

}
