<h1 class='choose-char'>Choose Your Character!</h1>
<div class="row">
  <div class="character-image-list">

    {{#each characters}}
      <div class="hover character" data-char-name="{{name}}">
        <img class="ron" src="{{picture}}" alt=""/>
        <span class='ron name'>{{name}}</span>
        <audio class='audio' src="{{audio}}"></audio>
      </div>
    {{/each}}
  </div>
</div>
<div class="fight"><button class="btn btn-default btn-lg" type="button" name="button">Fight!</button></div>
