<h1>Fight!</h1>
<div class="col-sm-12">
  <div class="row">

    <div class="col-sm-6">
      <div class="good-guy">
        <div class="">
          <img src="" alt="" />
          <p class='good-name'>name</p>
          <p class='good-health'>health</p>
          <button type="button" name="button" class='btn btn-default btn-lg attack-button'>Attack</button>
        </div>
      </div>
    </div>

    <div class="col-sm-6">
      <div class="bad-guy">
        <div class="">
          <img src="" alt="" />
          <p class='bad-name'>name</p>
          <p class='bad-health'>health</p>
        </div>
      </div>
    </div>

  </div>

  <div class="col-sm-6">
    <div class="row">
      <div class="message-board">

      </div>
    </div>
  </div>

</div>
