<div class="lost">
  <h1>You lost!</h1>
  <audio src="../../media-for-game/awful.mp3" autoplay></audio>
  <iframe src="//giphy.com/embed/FSnwQf1mPhN2o" width="480" height="422" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
</div>
