
<div class="won">
  <h1>You win!</h1>
  <audio src="audio/notimpressed.mp3" autoplay></audio>
  <img src="images/kind-of-a-big-deal.jpg" alt="" />
  <button class='btn-default btn-lg restart' type="submit" name="button">Restart</button>
</div>
