
<h1 class="title-top">Ron Burgundy's</h1>
<div class="title-image"><img class="ron-title" src="images/ron-burgundy.jpeg" alt=""></div>
<h1 class="title-bottom">Epic Showdown</h1>

<div class="start"><button class="btn btn-default btn-lg" type="button" name="button">START</button></div>
